<div>
    <div *ngIf="currentEmployee.id" class="edit-form">
      <h4>Employee</h4>
      <form>
          
        <div class="form-group">
          <label for="empId">Employee Id</label>
          <input
            type="text"
            class="form-control"
            id="empId"
            [(ngModel)]="currentEmployee.empId"
            name="empId"
          />
        </div>

        <div class="form-group">
            <label for="designation">Designation</label>
            <input
              type="text"
              class="form-control"
              id="designation"
              [(ngModel)]="currentEmployee.designation"
              name="designation"
            />
        </div>
        
        
        <div class="form-group">
            <label for="dateOfJoining">Date Of Joining</label>
            <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="dateOfJoiningPicker" placeholder="Choose a date" [(ngModel)]="currentEmployee.dateOfJoining" name="dateOfJoining" required>
                <mat-datepicker-toggle matSuffix [for]="dateOfJoiningPicker">
                    <mat-icon matDatepickerToggleIcon style="color: black;">
                        calendar_month
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #dateOfJoiningPicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="retirementDate">Retirement Date</label>
            <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="retirementDatePicker" placeholder="Choose a date" [(ngModel)]="currentEmployee.retirementDate" name="retirementDate">
                <mat-datepicker-toggle matSuffix [for]="retirementDatePicker">
                    <mat-icon matDatepickerToggleIcon style="color: black;">
                        calendar_month
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #retirementDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="basicPay">Basic Pay</label>
            <input
              type="number"
              class="form-control"
              id="basicPay"
              required
              [(ngModel)]="currentEmployee.basicPay"
              name="basicPay"
              min="0"
              pattern="^[0-9]+\.[0-9][0-9]$"
            />
        </div>
        
        <div class="form-group">
            <label for="da">DA</label>
            <input
              type="number"
              class="form-control"
              id="da"
              [(ngModel)]="currentEmployee.da"
              name="da"
              min="0"
              pattern="^[0-9]+\.[0-9][0-9]$"
            />
        </div>

        <div class="form-group">
            <label for="specialAllowance">Special Allowance</label>
            <input
              type="number"
              class="form-control"
              id="specialAllowance"
              [(ngModel)]="currentEmployee.specialAllowance"
              name="specialAllowance"
              min="0"
              pattern="^[0-9]+\.[0-9][0-9]$"
            />
        </div>

        <div class="form-group">
            <label for="professionalTax">Professional Tax</label>
            <input
              type="number"
              class="form-control"
              id="professionalTax"
              [(ngModel)]="currentEmployee.professionalTax"
              name="professionalTax"
              min="0"
              pattern="^[0-9]+\.[0-9][0-9]$"
            />
        </div>

        <div class="form-group">
            <label for="pf">PF</label>
            <input
              type="number"
              class="form-control"
              id="pf"
              [(ngModel)]="currentEmployee.pf"
              name="pf"
              min="0"
              pattern="^[0-9]+\.[0-9][0-9]$"
            />
        </div>                 

      </form>
      <button class="badge badge-danger mr-2" (click)="deleteEmployee()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateEmployee()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentEmployee.id">
        <br />
        <p>Cannot access this Employee...</p>
    </div>
</div>
